img{max-width: 100%; height: auto;}
*{padding: 0; margin: 0; list-style: none; }

.mylogo {
    padding: 10px 15px;
}

.mynav {
    background-color: #263248;
    border-color: #263248;
    border-radius: 0;
    margin: 0;
}

.mynav .navbar-nav .active>a {
    background-color: #263248;
}

.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #304047;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover{
    background-color: #000;
}


.form-control{
    border-radius: 0;
}
.form-control:focus{
    border-color: #000;
    box-shadow: none;
}
.btn{
    border-radius: 0;
}
.myslide{
    padding: 0;
}
.carousel-control.left, 
.carousel-control.right{
    background-image: none;
}

/* ------------------------- 섹션 컨텐츠 */

#main_wrap{
    margin-top: 50px;
}
.prod-content .content {
    overflow: hidden;
}
.prod-content .content .info{
    float: left;
}
.prod-content .content .info span{
    display: block;
    font-weight: 700;
    color: #999;
}
.prod-content .content .price{
    float: right;
}
.prod-content:hover .content-color{opacity: 1; transition: all 0.5s ease-in-out;}
.prod-content .content-color {margin-top: -20px; opacity: 0;}
.prod-content .content-color ul{overflow: hidden;}
.prod-content .content-color ul li{float: left; }
.prod-content .content-color ul li img{ width: 45px;}